@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Colors */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-sky-100: #70DCEA;
  --color-sky-200: #3CA3D0;
  --color-sky-300: #4093C3;
  
  /* Fonts */
  --font-inter: "Inter", sans-serif; 
}

.text-gradient:hover, .menu-active {
  background: linear-gradient(46deg, var(--color-sky-100) 5.23%, var(--color-sky-200) 50%, var(--color-sky-300) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-gradient {
  background: linear-gradient(57deg, var(--color-sky-100) 0%, var(--color-sky-200) 50%, var(--color-sky-300) 100%);
}

.button-gradient:hover {
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--color-white);
}